include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include _terminnal *.css
recursive-include _terminnal *.csv
recursive-include _terminnal *.html
recursive-include _terminnal *.ico
recursive-include _terminnal *.js
recursive-include _terminnal *.json
recursive-include _terminnal *.md
recursive-include _terminnal *.png
recursive-include _terminnal *.py
recursive-include _terminnal *.svg
recursive-include _terminnal *.txt
recursive-exclude _terminnal *.pyc